li {
    list-style: none;
}

.card {
    border: 2px solid white;
    width: 40rem;
    height: 16rem;
    margin: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    color: #333; /* Cor do texto */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.253); 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description-text {
    font-size: 2rem;
}
  
.tag {
    padding: 4px 4px; 
    background-color: gray; 
    color: white; 
    border-radius: 4px; 
    margin-right: 4px; 
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.action-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.like-button {
    order: -1;
    margin-right: 5px;
}

.balance {
    order: 0;
    font-size: 20px;
    margin-right: 5px;
}

.positive-balance {
    color: #4CAF50; 
}
  
.negative-balance {
    color: #FF5733; 
}

.dislike-button {
    order: 1
}

.progress {
    width: 5rem;
}

.author-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 8rem;
}

